<ion-header mode="md">
  <ion-toolbar class="ion-padding-start ion-padding-end" mode="md">
    <ion-row class="ion-align-items-center">
      <ion-col size="11" class="ion-no-padding">
        <ion-label><a (click)="goPage('home')" class="pointer" color="secondary">Tablero de Novedades</a></ion-label>
      </ion-col>
      <ion-col size="1" class="ion-no-padding">
        <ion-row class="ion-justify-content-end">
          <ion-img src="assets/images/logo-quilmes-cuadrado.png" class="pointer" (click)="openLink()"></ion-img>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>