<div class="content">
  <div class="content-cont">

    <ion-button color="primary" class="border-radius-10" (click)="goPage('home')">
      <ion-icon name="arrow-back-outline"></ion-icon>
      <ion-label class="button-label">Atrás</ion-label>
    </ion-button>

    <ion-grid>
      <ion-row *ngIf="newsText.title" class="ion-margin-vertical">
        <ion-col>
          <ion-label class="title">{{ newsText.title }}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="newsText.text" class="ion-margin-bottom">
        <ion-col>
          <ion-label class="text" [innerHTML]="newsText.text"></ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="newsText.link1">
        <ion-col *ngIf="newsText.link1.link">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label>{{ newsText.link1.name }}:&nbsp;</ion-label>
          <ion-label><a target="_blank" [href]="newsText.link1.link">ir al link</a></ion-label>
        </ion-col>
        <ion-col *ngIf="newsText.link1.image">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label>{{ newsText.link1.name }}:</ion-label><br>
          <img [src]="newsText.link1.image">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="newsText.link2">
        <ion-col *ngIf="newsText.link2.link">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label>{{ newsText.link2.name }}:&nbsp;</ion-label>
          <ion-label><a target="_blank" [href]="newsText.link2.link">ir al link</a></ion-label>
        </ion-col>
        <ion-col *ngIf="newsText.link2.image">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label>{{ newsText.link2.name }}:</ion-label><br>
          <img [src]="newsText.link2.image">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="newsText.link3">
        <ion-col *ngIf="newsText.link3.link">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label>{{ newsText.link3.name }}:&nbsp;</ion-label>
          <ion-label><a target="_blank" [href]="newsText.link3.link">ir al link</a></ion-label>
        </ion-col>
        <ion-col *ngIf="newsText.link3.image">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <ion-label>{{ newsText.link3.name }}:</ion-label><br>
          <img [src]="newsText.link3.image">
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</div>