.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
}

.title {
    font-size: 20px;
    color: var(--ion-color-secondary);
    font-family: 'FiraSans-Medium';
}

.text {
    font-size: 16px;
    font-family: 'FiraSans-Regular';
    white-space: pre-line;
}

ion-button {
    margin: 10px;
}
  
@media only screen and (min-width: 1200px) {
    .content-cont {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .content-cont {
        width: 80%;
    }
}