<app-header></app-header>

<ion-content>
  <div class="content">
    <div class="content-cont">
      <ion-grid>
        <ion-row>
          <ion-col size="6" sizeMd="4" *ngFor="let b of newsButton; let i = index">
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-button color="primary" class="ion-margin border-radius-20" (click)="goPage('news-description', i+1)">
                <ion-label>{{ b.title }}</ion-label>
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>